@tailwind base;
@tailwind components;
@tailwind utilities;

/* Чтобы скрыть скроллбар, как мы и хотели */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}